stages:
  - test
  - build
  - deploy

variables:
  DOCKER_IMAGE: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA
  POSTGRES_DB: test_db
  POSTGRES_USER: test_user
  POSTGRES_PASSWORD: test_password

test:
  stage: test
  image: python:3.10-slim
  services:
    - postgres:15-alpine
  variables:
    POSTGRES_HOST: postgres
    POSTGRES_PORT: 5432
  before_script:
    - apt-get update && apt-get install -y gcc libpq-dev
    - pip install --upgrade pip
    - pip install -r requirements.txt
  script:
    - python manage.py test --noinput
    - python manage.py check
  coverage: '/TOTAL.+ ([0-9]{1,3}%)/'

build:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker build -t $DOCKER_IMAGE .
    - docker push $DOCKER_IMAGE

deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh-client
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - echo "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
  script:
    - ssh $VPS_USER@$VPS_HOST "docker pull $DOCKER_IMAGE"
    - ssh $VPS_USER@$VPS_HOST "docker-compose -f /path/to/docker-compose.yml up -d"
  only:
    - main